# Add this to /etc/fail2ban/jail.d/invoicer.local
[invoicer]
enabled  = true
filter   = invoicer
port     = http,https
logpath  = {{logpath}}
bantime  = {{bantime_seconds}}
findtime = {{findtime_seconds}}
maxretry = {{maxretry}}