argon2-cffi
arrow
Flask-Caching
Flask-Login
Flask-Migrate
Flask-QRcode
Flask-SQLAlchemy
Flask-WTF
flask>=1.0.0
htmlmin
IPython
pdfkit
premailer
pyotp
python-memcached
ruamel.yaml
SQLAlchemy-Utils
black
