argon2-cffi
arrow
black
Flask-Caching
Flask-Login
Flask-Migrate
Flask-QRcode
Flask-Session
Flask-SQLAlchemy
Flask-WTF
Flask
htmlmin
ipython
pdfkit
premailer
pyotp
pytest-flask
pytest
python-memcached
ruamel.yaml
SQLAlchemy-Utils
SQLAlchemy
