{% set current_page = 'settings' %}
{% set help_step = '6' %}
{% extends "lb/base.html" %}

{% block extracss %}
<link href="{{ url_for('static', filename='css/switch.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import bs_render_checkbox_switch, bs_render_checkbox %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Settings</h4>
            </div>
            <div class="card-body">
                <form action="{{url_for('settings_page.update', settings_id=settings.id)}}" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="row">
                        {{ bs_render_checkbox_switch(form.debug_mode, settings.debug_mode, class="rswitch") }}
                    </div>

                    <input class="btn btn-info btn-fill" type=submit value="Update">
                </form>
            </div>
        </div>
    </div>
</div>

{% if unit %}
{{ render_delete_modal() }}
{% endif %}

{% endblock %}

{% block extrascripts %}
<script>
$(document).ready(function() {
    $("#debug_checkbox").click(function() {
        $("#debug_mode").prop("checked", !$("#debug_mode").prop("checked"));
    });
});
</script>
{% endblock %}
