{% set current_page = 'settings' %}
{% set help_step = '6' %}
{% extends "lb/base.html" %}
{% block content %}
{% from "_formhelpers.html" import bs_render_field %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Settings</h4>
            </div>
            <div class="card-body">
                <form action="{{url_for('settings_page.update', settings_id=settings.id)}}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="debug_mode" id="debug_mode" {% if settings.debug_mode %}checked{% endif %}>
                        <label class="form-check-label" for="debug_mode">Debug mode</label>
                    </div>
                    <!-- <div class="card-footer "> -->
                        <input class="btn btn-info btn-fill" type=submit value="Update">
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
</div>

{% if unit %}
{{ render_delete_modal() }}
{% endif %}

{% endblock %}

{# extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}

<form class="w3-container w3-col m5" action="{{url_for('settings_page.update', settings_id=settings.id)}}" method="POST">
    {{ form.hidden_tag() }}
    <p>
        <div class="w3-border w3-padding" id="debug_checkbox">
            <label class="w3-text-blue" for="debug_mode">Debug mode: </label>
            <input class="w3-border" id="debug_mode" name="debug_mode" type="checkbox" {% if settings.debug_mode %}checked{% endif %}>
        </div>
    </p>

    <input class="w3-btn w3-theme-action" type=submit value="Update">
    <input class="w3-btn w3-theme-action w3-right" type=submit value="Cancel" name="cancel">
</form>
{% endblock #}

{% block extrascripts %}
<script>
$(document).ready(function() {
    $("#debug_checkbox").click(function() {
        $("#debug_mode").prop("checked", !$("#debug_mode").prop("checked"));
    });
});
</script>
{% endblock %}
