{% set current_page = 'units' %}
{% set help_step = '6' %}
{% extends "lb/base.html" %}

{% block topleftnav %}
<ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" title="New Unit" href="{{url_for('unit_page.create')}}">
            New Unit
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="card-deck">
{% for unit in units -%}
    <div class="card ">
        <div class="card-header ">
            <h4 class="card-title"><a href="{{url_for('unit_page.update', unit_id=unit.id)}}">{{unit.description}}</a></h4>
        </div>
        <div class="card-body ">
            <p class="card-category">Price: {{unit.unit_price|currency}}</p>
            <p class="card-category">Units: {{unit.units}}</p>
        </div>
        <div class="card-footer ">
        </div>
    </div>
    {% endfor%}
</div>

{% endblock %}

