{% set current_page = 'units' %}
{% set help_step = '6' %}
{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field, render_row %}
{% from "_modals.html" import render_delete_modal %}

{% if unit %}
<form id='unit_form' class="w3-container w3-col m5" action="{{url_for('unit_page.update', unit_id=unit.id)}}" method="POST">
    <p>NOTE: Changing this will only change <i>future</i> invoice items</p>
{% else %}
<form id='unit_form' class="w3-container w3-col m5" action="{{url_for('unit_page.create')}}" method="POST">
{% endif %}
    {{ form.hidden_tag() }}
    <div data-step='6' data-intro='A description of the work to be performed.  This only helps you select this unit when adding an item to the invoice, the description will not be shown.'>
    {{ render_field(form.description, required=True) }}
    </div>

    {{ render_row(
        (form.unit_price, 'This is the cost of a single unit of work.  This makes more sense when combined with the <i>Units</i> field below', {'required': True}),
        (form.units, 'This is a description of the single unit of work.  For example, "day", "month", "hour", etc.  This item is optional.  If it exists, it will be shown on the invoice and combined with the price.')
    )}}

  <p>
      <input class="w3-btn w3-theme-action" type=submit value=
      {%- if unit %}"Update"{% else %}"Add"{% endif -%}
     >

     <input type="hidden" id="delete_modal_target" name="delete_modal_target" value="">

     {%- if unit %}
     <span onclick="show_delete_modal();" class="w3-btn w3-red w3-right">Delete Unit</span>
     {% endif %}
  </p>
</form>

{% if unit %}
{{ render_delete_modal() }}
{% endif %}

{% endblock %}

{% block extrascripts %}
{% include '_delete_modal.js' %}
{% endblock %}