{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock%}

{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if form.errors %}
{% for error in form.errors.values() %}
      <li>{{ error }}</li>
{% endfor %}
{% endif %}
{% if invoice %}
<form class="w3-container w3-col m5" action="{{url_for('invoice_page.update', invoice_number=invoice.number)}}" method="POST">
{% else %}
<form class="w3-container w3-col m5" action="{{url_for('invoice_page.create')}}" method="POST">
{% endif%}
    {{ form.hidden_tag() }}
    {% if invoice and invoice.submitted_date %}
    <label class="w3-text-blue" for="customer">Bill To Address <b>NOTE: You cannot change the customer once the invoice has been submitted</b></label>
    <input class="w3-input w3-border" value="{{invoice.customer.name1}}" disabled>
    <input type="hidden" value="{{invoice.customer.id}}" name="customer"/>
    {% else %}
    {{ render_field(form.customer) }}
    {% endif %}
    {{ render_field(form.description, size=60) }}
    {% if invoice and invoice.submitted_date %}
    <label class="w3-text-blue" for="terms">Terms (number of days) <b>NOTE: You cannot change the terms once the invoice has been submitted</b></label>
    <input class="w3-input w3-border" id="terms" name="terms" type="text" value="{{invoice.terms}}" disabled>
    {% elif invoice %}{{ render_field(form.terms) }}{% endif %}

    {% if invoice and invoice.submitted_date %}
    <label class="w3-text-blue" for="terms">Submitted Date <b>NOTE: You cannot change the submitted date once the invoice has been submitted</b></label>
    <input class="w3-input w3-border" id="submitted_date" name="submitted_date" type="text" value="{{invoice.submitted_date.format('DD-MMM-YYYY').upper()}}" disabled>
    {% else %}{{ render_field(form.submitted_date) }}{% endif %}

    <p>
    <div class="w3-border w3-padding">
        <label class="w3-text-blue" for="datepicker2">Paid Date</label>
        <input class="w3-input w3-border" id="datepicker2" name="paid_date" type="text" value="{{form.paid_date.data if form.paid_date.data else ''}}">
        <label class="w3-text-blue" for="paid_date_notes">Payment Notes</label>
        <input class="w3-input w3-border" id="paid_date_notes" name="paid_date_notes" type="text" value="{{form.paid_date_notes.data if form.paid_date_notes.data else ''}}" placeholder="e.g. Check 123">
    </div>
    </p>

    {{ render_field(form.w3_theme) }}
  <p>
    {% if invoice -%}
    <input type=submit value="Update" class="w3-btn w3-theme-action">
    <input type=submit value="Cancel" name="cancel" class="w3-btn w3-theme-action w3-right">
    {% else -%}
    <input type=submit value="Add" class="w3-btn w3-theme-action">
    {% endif %}
    
  </p>
</form>
{% endblock %}

{% block extrascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( document ).ready(function() {
  $( function() {
    $( "#datepicker1" ).datepicker({
      dateFormat: "dd-M-yy"
    });
    $( "#datepicker2" ).datepicker({
      dateFormat: "dd-M-yy"
    });
  } );
});

</script>
{% endblock %}