{% extends "layout.html" %}
{% block body %}

<form method="GET">        
    <div class="w3-bar w3-theme-d2">
        {% if previous_id %}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.invoice_by_number', invoice_number=previous_id)}}">Previous</button>
        {% else %}
        <button class="w3-bar-item w3-button" disabled>Previous</button>
        {% endif %}

        {% if next_id %}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.invoice_by_number', invoice_number=next_id)}}">Next</button>
        {% else %}
        <button class="w3-bar-item w3-button" disabled>Next</button>
        {% endif %}

        <div class="w3-dropdown-hover">
            <button class="w3-button">Modify</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.update', invoice_number=invoice.number) }}">Edit</button>
                {% if (not invoice_obj.submitted_date) -%}
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.create_item', invoice_number=invoice.number) }}">Add Item</button>
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.delete_items', invoice_number=invoice.number) }}">Delete Items</button>
                {% elif config['DEBUG'] %}
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.create_item', invoice_number=invoice.number) }}">Add Item (only allowed in debug mode)</button>
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.delete_items', invoice_number=invoice.number) }}">Delete Items (only allowed in debug mode)</button>
                {% else -%}
                <button class="w3-bar-item w3-button" formaction="#" disabled>Add Item</button>
                <button class="w3-bar-item w3-button" formaction="#" disabled>Delete Items</button>
                {% endif %}
                <span onclick="document.getElementById('delete-modal').style.display='block'" class="w3-bar-item w3-button w3-red">Delete Invoice</span>
            </div>
        </div>

        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.to_pdf', invoice_number=invoice.number)}}" formtarget="_blank">Download PDF</button>

        {% if can_submit and (invoice_obj.submitted_date or config['DEBUG']) %}
        <span onclick="document.getElementById('submit-modal').style.display='block'" class="w3-bar-item w3-button">Submit Invoice</span>
        {% endif -%}
        
        <button class="w3-bar-item w3-button w3-right" formaction="{{url_for('invoice_page.create')}}">Add New Invoice</button>
    </div>
</form>

<!-- Submit Modal -->
<div id="submit-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-blue"> 
            <span onclick="document.getElementById('submit-modal').style.display='none'" 
            class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
            <h2>Submit Invoice</h2>
        </header>

        <div class="w3-container">
            {% if to_emails -%}
            <p>Email submissions will be sent to: {{to_emails}}</p>
            {% else -%}
            <p>This customer has no email address(es) associated with it</p>
            {% endif -%}
        </div>

        <form action="{{url_for('invoice_page.submit_invoice', invoice_number=invoice.number)}}" method="POST">
            <div class="w3-container w3-form">
                {% if to_emails and invoice_obj.submitted_date -%}
                <p><input type="submit" id="email_btn" class="w3-button w3-white w3-border w3-left-align" style="width: 75%"  name="email" value="Email only (invoice already marked as submitted)" /></p>
                {% elif to_emails %}
                <p><input type="submit" id="email_btn" class="w3-button w3-white w3-border w3-left-align" style="width: 75%"  name="email" value="Email and mark invoice as submitted" /></p>
                {% endif %}

                {% if not invoice_obj.submitted_date %}
                <p><input type="submit" class="w3-button w3-white w3-border w3-left-align" style="width: 75%"  name="mark" value="Mark invoice as submitted (do not send email)" /></p>
                {% endif %}
            </div>
        </form>

        <div class="w3-container w3-light-grey w3-padding">
            <p><button id='submit-close-button' class="w3-button w3-right w3-white w3-border">Cancel</button></p>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div id="delete-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-red"> 
            <span onclick="document.getElementById('delete-modal').style.display='none'" 
            class="w3-button w3-red w3-xlarge w3-display-topright">&times;</span>
            <h2>Delete Invoice</h2>
        </header>

        <form action="{{url_for('invoice_page.delete', invoice_number=invoice.number)}}" method='POST'>
            <div class="w3-container">
                <p>WARNING: This action cannot be undone</p>
                <p>Enter DELETE in the input box below to really delete this invoice</p>
                <input id="validate_delete" name='validate_delete'>
            </div>

            <div class="w3-container w3-light-grey w3-padding">
                <input class="w3-button w3-left w3-white w3-border" type="submit" value="Submit" id="delete_invoice_button" disabled>
                <span onclick="document.getElementById('delete-modal').style.display='none'" class="w3-button w3-right w3-white w3-border">Close</span>
            </div>
        </form>
    </div>
</div>

<div id="email-modal" class="w3-modal">
    <div class="loader w3-display-middle"></div>
</div>

<div class="fluidMedia">
    <iframe src="{{url_for('invoice_page.raw_invoice', invoice_number=invoice.number)}}" frameborder="0"></iframe>
</div>

{% endblock %}

{% block extrascripts %}
<script>
    $( document ).ready(function() {

        // Make sure the user *really* wants to delete the invoice
        $( "#validate_delete" ).keyup(function() {
            if ($(this).val().toLowerCase() == 'delete') {
                $('#delete_invoice_button').prop('disabled', false);
            } else {
                $('#delete_invoice_button').prop('disabled', true);

            }
        });

        // Handle the email submit button
        $('#email_btn').on('click', function(event) {
            // Close the submit modal
            $('#submit-modal').css({ 'display': "none" });

            // Show the loading modal
            $('#email-modal').css({ 'display': "block" });
        });
        
        // Close the submit modal if the button is clicked
        $( "#submit-close-button" ).click(function() {
            $('#submit-modal').css({ 'display': "none" });
        });

        // Close the submit modal when the escape key is pressed
        $(document).on('keydown',function(event) {
            if (event.keyCode == 27) {
                $('#submit-modal').css({ 'display': "none" });
                $('#delete-modal').css({ 'display': "none" });
             }
         });

        // Close the submit modal when clicking outside of the window
        $(window).on('click', function(event){
            if ((event.target == $('#submit-modal').get()[0]) || (event.target == $('#delete-modal').get()[0])) {
                $('#submit-modal').css({ 'display': "none" });
                $('#delete-modal').css({ 'display': "none" });
            }
        });
    });
</script>
{% endblock%}