{% extends "layout.html" %}
{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#datepicker1" ).datepicker({
    dateFormat: "dd-M-yy"
  });
  $( "#datepicker2" ).datepicker({
    dateFormat: "dd-M-yy"
  });
} );

</script>
{% endblock%}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if form.errors %}
{% for error in form.errors.values() %}
      <li>{{ error }}</li>
{% endfor %}
{% endif %}
{% if invoice %}
<form class="w3-container w3-col m5" action="{{url_for('invoice_page.update', invoice_id=invoice.id)}}" method="POST">
{% else %}
<form class="w3-container w3-col m5" action="{{url_for('invoice_page.create')}}" method="POST">
{% endif%}
    {{ form.hidden_tag() }}
    {{ render_field(form.description, size=60) }}
    {% if invoice and invoice.submitted_date %}
    <label class="w3-text-blue" for="customer">Bill To Address <b>NOTE: You cannot change the customer once the invoice has been submitted</b></label>
    <input class="w3-input w3-border" value="{{invoice.customer.name1}}" disabled>
    <input type="hidden" value="{{invoice.customer.id}}" name="customer"/>
    {% else %}
    {{ render_field(form.customer) }}
    {% endif %}
    {% if invoice and invoice.submitted_date %}
    <label class="w3-text-blue" for="terms">Terms (number of days) <b>NOTE: You cannot change the terms once the invoice has been submitted</b></label>
    <input class="w3-input w3-border" id="terms" name="terms" type="text" value="{{terms}}" disabled>
    {% else %}{{ render_field(form.terms) }}{% endif %}
    {{ render_field(form.submitted_date) }}
    {{ render_field(form.paid_date) }}
    {{ render_field(form.w3_theme) }}
  <p>
    {% if invoice -%}
    <input type=submit value="Update" class="w3-btn w3-theme-action">
    {% else -%}
    <input type=submit value="Add" class="w3-btn w3-theme-action">
    {% endif %}
  </p>
</form>
{% endblock %}