{% extends "layout.html" %}
{% block body %}

<form method="GET">        
    <div class="w3-bar w3-theme-d2">
        {% if previous_id %}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.invoice_by_number', invoice_number=previous_id)}}">Previous</button>
        {% else %}
        <button class="w3-bar-item w3-button" disabled>Previous</button>
        {% endif %}

        {% if next_id %}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.invoice_by_number', invoice_number=next_id)}}">Next</button>
        {% else %}
        <button class="w3-bar-item w3-button" disabled>Next</button>
        {% endif %}

        <div class="w3-dropdown-hover">
            <button class="w3-button">Modify</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.update', invoice_number=invoice.number) }}">Edit</button>
                {% if (not invoice_obj.submitted_date) or config['DEBUG'] -%}
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.create_item', invoice_number=invoice.number) }}">Add Item</button>
                <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.delete_items', invoice_number=invoice.number) }}">Delete Items</button>
                {% else -%}
                <button class="w3-bar-item w3-button" formaction="#" disabled>Add Item</button>
                <button class="w3-bar-item w3-button" formaction="#" disabled>Delete Items</button>
                {% endif %}
                <span onclick="document.getElementById('delete-modal').style.display='block'" class="w3-bar-item w3-button w3-red">Delete Invoice</span>
            </div>
        </div>

        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice_page.to_pdf', invoice_number=invoice.number)}}" formtarget="_blank">Download PDF</button>

        {% if can_submit and ((config['DEBUG'] and invoice_obj.submitted_date) or (not invoice_obj.submitted_date)) -%}
        <span onclick="document.getElementById('submit-modal').style.display='block'" class="w3-bar-item w3-button">Submit Invoice</span>
        {% else %}
        <button class="w3-bar-item w3-button" formaction="#" disabled>Submit Invoice</button>
        {% endif -%}
        
        <button class="w3-bar-item w3-button w3-right" formaction="{{url_for('invoice_page.create')}}">Add New Invoice</button>
    </div>
</form>

<!-- Submit Modal -->
<div id="submit-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-blue"> 
            <span onclick="document.getElementById('submit-modal').style.display='none'" 
            class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
            <h2>Submit Invoice</h2>
        </header>

        <div class="w3-container">
            {% if to_emails -%}
            <p>Email submissions will be sent to: {{to_emails}}</p>
            {% else -%}
            <p>This customer has no email address(es) associated with it</p>
            {% endif -%}
        </div>

        <form action="{{url_for('invoice_page.submit_invoice', invoice_number=invoice.number)}}" method="POST">
            <div class="w3-container w3-form">
                {% if to_emails -%}
                <p><input type="submit" id="email_btn" class="w3-button w3-white w3-border" style="width:25em;" name="email" value="Email Invoice and mark as submitted" /></p>
                {% else %}
                <p><input type="submit" id="email_btn" class="w3-button w3-white w3-border" style="width:25em;" name="email" value="Email Invoice and mark as submitted" disabled/></p>
                {% endif %}
                <p><input type="submit" class="w3-button w3-white w3-border" style="width:25em;" name="mark" value="Mark invoice as submitted (no email)" /></p>
            </div>
        </form>

        <div class="w3-container w3-light-grey w3-padding">
            <p><button class="w3-button w3-right w3-white w3-border" onclick="document.getElementById('submit-modal').style.display='none'">Close</button></p>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div id="delete-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-red"> 
            <span onclick="document.getElementById('delete-modal').style.display='none'" 
            class="w3-button w3-red w3-xlarge w3-display-topright">&times;</span>
            <h2>Delete Invoice</h2>
        </header>

        <form action="{{url_for('invoice_page.delete', invoice_number=invoice.number)}}" method='POST'>
            <div class="w3-container">
                <p>WARNING: This action cannot be undone</p>
                <p>Enter DELETE in the input box below to really delete this invoice</p>
                <input id="validate_delete" name='validate_delete'>
            </div>

            <div class="w3-container w3-light-grey w3-padding">
                <input class="w3-button w3-left w3-white w3-border" type="submit" value="Submit" id="delete_invoice_button" disabled>
                <span onclick="document.getElementById('delete-modal').style.display='none'" class="w3-button w3-right w3-white w3-border">Close</span>
            </div>
        </form>
    </div>
</div>

<div id="email-modal" class="w3-modal">
    <div class="loader w3-display-middle"></div>
</div>

<div class="fluidMedia">
    <iframe src="{{url_for('invoice_page.raw_invoice', invoice_number=invoice.number)}}" frameborder="0"></iframe>
</div>

{% endblock %}

{% block extrascripts %}
<script>
    document.getElementById("validate_delete").onkeyup = function() {myFunction()};

    function myFunction() {
        if (document.getElementById('validate_delete').value.toLowerCase() == 'delete') {
            document.getElementById('delete_invoice_button').disabled = false;
        } else {
            document.getElementById('delete_invoice_button').disabled = true;
        };
    }

    // When the user clicks anywhere outside of the modal, close it
    var submit_modal = document.getElementById('submit-modal');
    window.onclick = function(event) {
        if (event.target == submit_modal) {
            submit_modal.style.display = "none";
        }
    }
    // Get the button that opens the modal
    var email_btn = document.getElementById("email_btn");
    var email_modal = document.getElementById('email-modal');
    // When the user clicks on the button, open the modal 
    email_btn.onclick = function() {
        submit_modal.style.display = "none";
        email_modal.style.display = "block";
    }

</script>
{% endblock%}