{% set current_page = 'invoices' %}
{% set help_step = '6' %}
{% extends "lb/base.html" %}
{% from "_modals.html" import render_delete_modal %}

{% block topleftnav %}
<ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            {%- if previous_id -%}
            <a class="nav-link" title="Previous Invoice" href="{{ url_for('invoice_page.invoice_by_number', invoice_number=previous_id)}}">
                Previous
            </a>
            {% else -%}
            <a class="nav-link nav-link-disabled" disabled>Previous</a>
            {% endif %}
        </li>

        <li class="nav-item">
            {%- if next_id -%}
            <a class="nav-link" title="Next Invoice" href="{{ url_for('invoice_page.invoice_by_number', invoice_number=next_id)}}">Next</a>
            {% else -%}
            <span class="nav-link nav-link-disabled" disabled>Next</span>
            {% endif %}
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><i class="fa fa-pencil fa-fw fa-nav" aria-hidden="true"></i> Modify</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('invoice_page.update', invoice_number=invoice.number) }}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Edit</a>

                {% if (not invoice_obj.submitted_date) -%}
                <a class="dropdown-item" href="{{ url_for('invoice_page.create_item', invoice_number=invoice.number) }}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Add Item</a>
                <a class="dropdown-item" href="{{ url_for('invoice_page.delete_items', invoice_number=invoice.number) }}"><i class="fa fa-minus fa-fw" aria-hidden="true"></i>&nbsp;Delete Items</a>
                {% elif (config['DEBUG'] or session['user_debug']) %}
                <a class="dropdown-item" href="{{ url_for('invoice_page.create_item', invoice_number=invoice.number) }}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Add Item (only allowed in debug mode)</a>
                <a class="dropdown-item" href="{{ url_for('invoice_page.delete_items', invoice_number=invoice.number) }}"><i class="fa fa-minus fa-fw" aria-hidden="true"></i>&nbsp;Delete Items (only allowed in debug mode)</a>
                {% else -%}
                <button class="dropdown-item" formaction="#" disabled><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Add Item</button>
                <button class="dropdown-item" formaction="#" disabled><i class="fa fa-minus fa-fw" aria-hidden="true"></i>&nbsp;Delete Items</button>
                {% endif %}
                <div class="divider"></div>
                <form action="{{url_for('invoice_page.delete', invoice_number=invoice.number)}}" method="POST">
                    {{form.hidden_tag() }}
                    <input type="hidden" id="delete_modal_target" name="delete_modal_target" value="">
                </form>
                <a class="dropdown-item bg-danger text-white" data-toggle="modal" data-target="#delete-modal" href="#">Delete Invoice</a>
            </div>
        </li>

        {% if show_pdf_button -%}
        <li class="nav-item">
            <a class="nav-link" data-intro="Download the invoice as a PDF for offline-viewing"
            {% if pdf_ok -%}
            href="{{ url_for('invoice_page.to_pdf', invoice_number=invoice.number)}}" target="_blank">
            {%- else -%}
            href="#" disabled>
            {%- endif -%}
            Download PDF</a>
        </li>
        {%- endif -%}

        {% if can_submit and ((not invoice_obj.paid_date) or config['DEBUG'] or session['user_debug']) %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#submit-modal" href="#">Submit Invoice</a>
        </li>
        {% endif -%}

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('invoice_page.create')}}">Add New Invoice</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="{{url_for('invoice_page.raw_invoice', invoice_number=invoice.number)}}" data-step='7' data-intro='This is the HTML representation of your invoice that will be submitted and/or converted to PDF (if available)'></iframe>
</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div

<!-- Submit Modal -->
<div id="submit-modal" class="modal fade modal-primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h2 class="modal-title text-white align-center">Submit Invoice</h2>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {% if to_emails -%}
                <p>Email submissions will be sent to: {{to_emails}}</p>
                {% else -%}
                <p>This customer has no email address(es) associated with it</p>
                {% endif -%}

                <form action="{{url_for('invoice_page.submit_invoice', invoice_number=invoice.number)}}" method="POST">
                    <div class="w3-container w3-form">
                        {% if to_emails and invoice_obj.submitted_date -%}
                        <p><input type="submit" id="email_btn" class="btn button text-left" style="width: 100%;" name="email" value="Email only (invoice already marked as submitted)" /></p>
                        {% elif to_emails %}
                        <p><input type="submit" id="email_btn" class="btn button text-left" style="width: 100%;" name="email" value="Email and mark invoice as submitted" /></p>
                        {% endif %}

                        {% if not invoice_obj.submitted_date %}
                        <p><input type="submit" class="btn button text-left" style="width: 100%;" name="mark" value="Mark invoice as submitted (do not send email)" /></p>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{ render_delete_modal() }}

<div id="email-modal" class="w3-modal">
    <div class="loader w3-display-middle"></div>
</div>

<div class="fluidMedia">
    <iframe src="{{url_for('invoice_page.raw_invoice', invoice_number=invoice.number)}}" frameborder="1" data-step='7' data-intro='This is the HTML representation of your invoice that will be submitted and/or converted to PDF (if available)'></iframe>
</div>

{% endblock %}

{% block extrascripts %}
<script src="{{ url_for('static', filename='js/delete_modal.js') }}"></script>

<script>
    $( document ).ready(function() {
        // Handle the email submit button
        $('#email_btn').on('click', function(event) {
            // Close the submit modal
            $('#submit-modal').css({ 'display': "none" });

            // Show the loading modal
            $('#email-modal').css({ 'display': "block" });
        });

        // Close the submit modal if the button is clicked
        $( "#submit-close-button" ).click(function() {
            $('#submit-modal').css({ 'display': "none" });
        });

        // Close the submit modal when the escape key is pressed
        $(document).on('keydown',function(event) {
            if (event.keyCode == 27) {
                $('#submit-modal').css({ 'display': "none" });
             }
         });

        // Close the submit modal when clicking outside of the window
        $(window).on('click', function(event){
            if ((event.target == $('#submit-modal').get()[0]) || (event.target == $('#delete-modal').get()[0])) {
                $('#submit-modal').css({ 'display': "none" });
            }
        });

    });
</script>
{% endblock %}