{% set current_page = 'invoices' %}
{% from "_modals.html" import render_delete_modal %}
{% extends "lb/base.html" %}

{% block content %}
<div class="col col-md-6">
    <form id="delete_items_form" action="{{url_for('invoice_page.delete_items', invoice_number=invoice.number)}}" method="POST">
        {{ form.hidden_tag() }}
        {% for item in items -%}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="item_{{item.id}}" id="item_{{item.id}}" value="{{item.id}}">
            <label for="item_{{item.id}}" class="form-check-label">{{item.date.format('DD-MMM-YYYY').upper()}}: {{item.description}} ({{item.quantity}} x {{item.unit_price|currency}})</label>
        </div>
        {% endfor %}
    <input type="hidden" value="{{invoice_id}}" name='invoice.id'>
    <input type="hidden" id="delete_modal_target" name="delete_modal_target" value="">
    <a class="btn bg-danger text-white" data-toggle="modal" data-target="#delete-modal" href="#">Delete Items</a>
    </form>
</div>
{{ render_delete_modal() }}
{% endblock %}

{% block extrascripts %}
<script src="{{ url_for('static', filename='js/delete_modal.js') }}"></script>
{% endblock %}
