{% if embedded %}
<style>
    .hover:hover {
        background-color: #ffff99;
        cursor: pointer;
        }
</style>
{% else %}
<html style="-ms-overflow-style:scrollbar; -ms-text-size-adjust:100%; -webkit-tap-highlight-color:transparent; -webkit-text-size-adjust:100%; font-family:sans-serif; line-height:1.15">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Invoice {{invoice.number}}{{' from ' + config.get('NAME', '') if config.get('NAME') else ''}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:#fff; color:#212529; font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size:1rem; font-weight:400; line-height:1.5; margin:0; text-align:left" bgcolor="#ffffff" align="left">
{% endif %}
    <div style="margin-left:auto; margin-right:auto; padding-left:15px; padding-right:15px; width:100%" width="100%">
        <div style="-ms-flex-wrap:wrap; display:flex; flex-wrap:wrap; margin-left:1.5rem; margin-right:1.5rem; margin-top:1.5rem; padding-top:1.5rem; background-color:{{theme.banner_background_color}}; color:{{theme.banner_color}}" bgcolor="#57707d">
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%" width="100%">
                <h1 style="margin-bottom:0.5rem; margin-top:0; color:inherit; font-family:inherit; font-weight:500; line-height:1.2; font-size:2.5rem">INVOICE</h1>
                {% if invoice.description %}<br><p style="margin-bottom:1rem; margin-top:0; font-size:1.25rem; font-weight:300">{{invoice.description}}</b>{% endif %}
            </p>
            </div>
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%; text-align:right" width="100%" align="right">
                    {{submit_address|safe}}
            </div>
        </div>

        <div style="-ms-flex-wrap:wrap; display:flex; flex-wrap:wrap; margin-left:-15px; margin-right:-15px; margin-top:1.5rem">
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%; margin-left:1.5rem" width="100%">
                <strong style="font-weight:bolder">BILL TO:</strong><br>
                {{customer_address|safe}}
            </div>
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%" width="100%">
                <strong style="font-weight:bolder">Invoice Number:</strong><br><h1 style="margin-bottom:0.5rem; margin-top:0; color:inherit; font-family:inherit; font-weight:500; line-height:1.2; font-size:2.5rem">{{invoice.number}}</h1>
            </div>
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%; margin-right:1.5rem; text-align:right" width="100%" align="right">
                Submitted Date: {% if invoice.submitted_date %}{{invoice.submitted_date.format('DD-MMM-YYYY')|upper}}{% else %}&nbsp;{% endif %}<br>
                Due Date: {% if invoice.due_date %}{{invoice.due_date.format('DD-MMM-YYYY')|upper}}{% else %}&nbsp;{% endif %}<br>
                {% if invoice.paid_date %}
                    {% if overdue %}
                        <span style="color:orange;">
                    {% else %}
                        <span style="color:green;">
                    {% endif %}
                    Paid Date: {{invoice.paid_date.paid_date.format('DD-MMM-YYYY')|upper}}</span>
                    {%- if invoice.paid_date.description %}<br>{{invoice.paid_date.description}}{% endif %}
                {% elif overdue %}
                <h3 style="color:red; font-family:inherit; font-weight:500; line-height:1.2; margin-bottom:0.5rem; font-size:1.5rem">OVERDUE</h3>
                {% endif %}

                <div>
                    <br>Invoice Total:<br><span style="color:inherit; font-family:inherit; font-weight:500; line-height:1.2; margin-bottom:0.5rem; font-size:2.5rem">{{invoice.total|currency}}</span>
                </div>
            </div>
        </div>

        <div style="-ms-flex-wrap:wrap; display:flex; flex-wrap:wrap; margin-left:-15px; margin-right:-15px; margin-top:1.5rem">
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%; margin-right:1.5rem; margin-left:1.5rem" width="100%">
                {%if show_item_edit%}<button class="btn btn-primary" onclick="window.location='{{url_for('invoice_page.create_item', invoice_number=invoice.number)}}';"><i class="fa fa-plus"></i> Add Item</button>{%endif%}
                <table style="border-collapse:collapse; background-color:transparent; margin-bottom:1rem; max-width:100%; width:100%" width="100%">
                    <thead>
                        <tr style="background-color:{{theme.table_header_background_color}}; color:{{theme.table_header_color}}" bgcolor="{{theme.table_header_background_color}}">
                            <th style="text-align:inherit; border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:bottom; border-bottom:2px solid #dee2e6" align="inherit" valign="bottom">Item</th>
                            <th style="text-align:inherit; border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:bottom; border-bottom:2px solid #dee2e6" align="inherit" valign="bottom">Unit Price</th>
                            <th style="text-align:center; border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:bottom; border-bottom:2px solid #dee2e6" align="center" valign="bottom">Quantity</th>
                            <th style="text-align:inherit; border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:bottom; border-bottom:2px solid #dee2e6" align="inherit" valign="bottom">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in invoice.items -%}
                        <tr{%if show_item_edit%} onclick="window.location='{{url_for('invoice_page.update_item', invoice_number=invoice.number, item_id=item.id)}}';" class="hover"{%endif%}>
                            {% if item.date -%}
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top">{{item.date.format('DD-MMM-YYYY')|upper}}: {{item.description}}</td>
                            {% else %}
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top">{{item.description}}</td>
                            {% endif %}
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top">{{item.unit_price|currency}}{% if item.units %}/{{item.units}}{% endif %}</td>
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top; text-align:center" valign="top" align="center">{{item.quantity}}</td>
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top">{{ (item.unit_price * item.quantity) | currency}}</td>
                        </tr>{% endfor %}

                        <tr>
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top"></td>
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top"></td>
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top; text-align:right" valign="top" align="right">Total:</td>
                            <td style="border-top:1px solid #dee2e6; padding:0.75rem; vertical-align:top" valign="top">{{invoice.total | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div style="-ms-flex-wrap:wrap; display:flex; flex-wrap:wrap; margin-left:-15px; margin-right:-15px; margin-top:1.5rem">
            <div style="min-height:1px; padding-left:15px; padding-right:15px; position:relative; width:100%; -ms-flex-positive:1; -ms-flex-preferred-size:0; -webkit-box-flex:1; flex-basis:0; flex-grow:1; max-width:100%; margin-right:1.5rem; margin-left:1.5rem" width="100%">
                <strong style="font-weight:bolder">Terms</strong>: NET {{terms}} days<br>
                <strong style="font-weight:bolder">Please include invoice number on submission</strong>
            </div>
        </div>
    </div>

{% if not show_item_edit %}
</body></html>
{% endif %}