<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice {{invoice_number}}{{' from ' + config.get('NAME', '') if config.get('NAME') else ''}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-{{w3_theme}}.css">
    <style>
        .total{font-weight:bold;}
        .right-text{text-align: right;}
    </style>
</head>

<body>
    <div class="w3-container w3-padding w3-margin-right">
        <div class="w3-cell-row w3-padding w3-theme-d1">
            <div class="w3-cell w3-padding-left">&nbsp;</div>
            <div class="w3-cell w3-cell-middle"><h2 class="w3-text-white">INVOICE</h2></div>
            <div class="w3-cell w3-padding w3-right">&nbsp;</div>
            <div class="w3-cell w3-text-white w3-right w3-right-align">
                {{submit_address|safe}}
            </div>
        </div>

        <div class="w3-padding-16">&nbsp;</div>
        <div class="w3-padding-16 w3-cell-row">
            <div class="w3-cell w3-left">
                    <strong>BILL TO:</strong><br>
                    {{customer_address|safe}}
            </div>
            <div class="w3-cell w3-cell-top">
                    <strong>Invoice Number:</strong><br><h1>{{invoice_number}}</h1>
            </div>

            <div class="w3-cell w3-cell-top w3-right-align">
                Submitted Date: {{submitted|upper}}<br>
                Due Date: {{due|upper}}<br>
                {% if paid and overdue -%}
                <span style="color: orange;">Paid Date: {{paid|upper}}</span>
                {% elif paid %}
                <span style="color: green;">Paid Date: {{paid|upper}}</span>
                {% elif overdue -%}
                <h3 style="color: red;">OVERDUE</h3>
                {%endif%}
            </div>
        </div>

        <div class="w3-padding-16">&nbsp;</div>
        <div class="w3-row w3-padding-16">
            <div class="w3-col">
            <table class="w3-table w3-striped w3-bordered">
                <tr class="w3-theme">
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th style="text-align:center !important;">Quantity</th>
                    <th>Total</th>
                </tr>
                {% for item in items -%}
                <tr>
                    {% if item.date -%}
                    <td>{{item.date}}: {{item.description}}</td>
                    {% else %}
                    <td>{{item.description}}</td>
                    {% endif %}
                    <td>{{item.unit_price|currency}}/{{item.units}}</td>
                    <td style="text-align:center !important;">{{item.quantity}}</td>
                    <td>{{ (item.unit_price * item.quantity) | currency}}</td>
                </tr>{% endfor %}

                <tr class="total">
                        <td></td>
                        <td></td>
                        <td class="w3-right-align">Total:</td>
                        <td>{{total | currency}}</td>
                    </tr>
            </table>
            </div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col">
            {% if terms %}<strong>Terms</strong>: NET {{terms}} days<br>{% endif %}
            <strong>Please include invoice number on submission</strong>
            </div>
        </div>
    </div>
</body>
</html>