
.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.error{color:#fff!important;background-color:#f44336!important}
.success{color:#fff!important;background-color:#4CAF50!important}
.warning{color:#000!important;background-color:#ff9800!important}

.pointer {cursor: pointer;}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Get font-awesome icons to be the same size as top sidebar div */
.fa-nav {
    font-size: 20px !important;
    line-height: 30px !important;
}

.navbar .navbar-nav .nav-item .nav-link-disabled {
    color: #CCCCCC !important;
}

.navbar .navbar-nav .nav-item .nav-link-disabled:hover {
    color: #CCCCCC !important;
    cursor: not-allowed;
}