{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if form.errors %}
{% for error in form.errors.values() %}
      <li>{{ error }}</li>
{% endfor %}
{% endif %}

{% if customer_id %}
<form class="w3-container w3-col m5" action="{{url_for('customers_page.update', customer_id=customer_id)}}" method="POST">
{% else %}
<form class="w3-container w3-col m5" action="{{url_for('customers_page.create')}}" method="POST">
{% endif %}
    {{ form.hidden_tag() }}
    {{ render_field(form.name1) }}
    {{ render_field(form.name2) }}
    {{ render_field(form.addrline1) }}
    {{ render_field(form.addrline2) }}
    {{ render_field(form.city) }}
    {{ render_field(form.state) }}
    {{ render_field(form.zip) }}
    {{ render_field(form.email) }}
    {{ render_field(form.terms) }}
    {{ render_field(form.number) }}
    {{ render_field(form.w3_theme) }}
  <p>
      {% if customer_id %}<input class="w3-btn w3-theme-action" type=submit value="Update">{% else %}<input class="w3-btn w3-theme-action" type=submit value="Add">{% endif %}
  </p>
</form>
{% endblock %}