{% extends "layout.html" %}
{% block body %}
  <a href="{{url_for('customers_page.create')}}" class="w3-btn w3-cyan">New customer</a>
  <ul class=entries>
  {% for customer in customers %}
    <li>{{ customer.number }}: <a href="{{ url_for('customers_page.update', customer_id=customer.id) }}">{{customer.name1}}</a>
        <ul>
            {% if customer.name2 %}<li>{{customer.name2}}</li>{% endif %}
            <li>{{customer.addrline1}}</li>
            {% if customer.addrline2 %}<li>{{customer.addrline2}}</li>{% endif %}
            <li>{{customer.city}}, {{customer.state|upper}} {{customer.zip}}</li>
            {% if customer.email %}<li>{{customer.email}}</li>{% endif %}
            {% if customer.terms %}<li>{{customer.terms}}</li>{% endif %}
        </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}