{% set current_page = 'customers' %}
{% extends "base.html" %}
{% block body %}

<div class="w3-container">
    <a href="{{url_for('customers_page.update', customer_id=customer.id)}}" class="w3-btn w3-theme-action">Edit</a>
</div>

<ul class="w3-ul">
    <li>Customer Number: {{customer.number}}</li>
    <li>Address:<br>{{customer.format_address()|safe}}</li>
    {% if summary %}
    <li>
        <h2>Annual Summary</h2>
        <table class="w3-table w3-striped w3-hoverable" data-hint='Listing of all customers'>
            <tr><th>Year</th><th>Total Submitted</th><th>Total Paid</th></tr>
            {% for year in summary %}
            <tr>
                <td>{{year.year}}</td>
                <td>{{year.submitted|currency}}</td>
                <td>{{year.paid|currency}}</td>
            </tr>
            {% endfor %}
        </table>
    </li>
    {% endif %}
    {% if customer.invoices %}
    <li>
        <h2>Invoices</h2>
        <table class="w3-table w3-striped w3-hoverable" data-hint='Listing of all customers'>
            <tr>
                <th>Invoice Number</th><th>Total</th><th>Submitted Date</th><th>Paid Date</th>
            </tr>
            {% for invoice in customer.invoices %}
            <tr onclick="window.location='{{url_for('invoice_page.invoice_by_number', invoice_number=invoice.number)}}';" class="pointer">
                <td>{{invoice.number}}</td>
                <td>{{invoice.total|currency}}</td>
                <td>{{invoice.submitted_date.format('YYYY-MMM-DD').upper() if invoice.submitted_date}}</td>
                <td>{{invoice.paid_date.paid_date.format('YYYY-MMM-DD').upper() if invoice.paid_date}}</td>
            </tr>
            {% endfor %}
        </table>
    </li>
    {% endif %}
</ul>

{% endblock %}
