# This is a partial configuration file.  You'll want to add the following
# location to whichever server location you'll be using.

    location {{location}} {
        include     uwsgi_params;
        uwsgi_pass  unix:{{socket}};
   }
