# This is the uWSGI configuraiton file for the application.  We'll keep this
# in our source tree, and *not* link it to /etc/uwsgi/apps-*.  This is because
# the system's ``uwsgi`` won't be able to run our application becuase its
# Python plugin is 2.7.6.
#
# Because of that, we'll need to create an Upstart configuration file to
# start our app on boot.
[uwsgi]
manage-script-name = true
socket = {{socket}}
chmod-socket = {{socket_mode}}
chown-socket = {{chown_socket}}
vacuum = true

# Change this directory to the home directory of your application
master = true
uid = {{uid}}
gid = {{gid}}
die-on-term = true

chdir = {{chdir}}
mount={{mount}}=wsgi.py

# Change this to whatever makes sense for your application
processes = {{number_of_processes}}

req-logger = {{req_logger}}
logger = {{logger}}
