{% from "_paginate.html" import render_pagination %}
{% set current_page = 'home' %}
{% extends "base.html" %}
{% block body %}
<div class="w3-col m8">
  <table class="w3-table w3-striped w3-hoverable" data-hint='Summary of all invoices.  Click a row to go to the invoice detail'>
    <tr>
      <th>Invoice</th><th>Bill To</th><th>Description</th><th class="w3-center">Submitted</th><th class="w3-center">Paid</th>
    </tr>
    {% for invoice in invoices.items -%}
    <tr onclick="window.location='{{url_for('invoice_page.invoice_by_number', invoice_number=invoice.number)}}';"
    {%- if invoice.overdue() and not invoice.paid_date %} class="pointer w3-red"
    {%- elif invoice.submitted_date and not invoice.paid_date %} class="pointer w3-orange"
    {%- elif invoice.submitted_date and invoice.paid_date %} class="pointer w3-pale-green"
    {%- else %}class="pointer"
    {%- endif -%}
    >
      <td>{{invoice.number}}</td>
      <td>{{invoice.customer_id|billto}}</td>
      <td>{{invoice.description}}</td>
      <td class="w3-center">{{'X' if invoice.submitted_date else ' '}}</td>
      <td class="w3-center">{{'X' if invoice.paid_date else ' '}}</td>
    </tr>
    {% endfor%}
  </table>

  {% if invoices.has_next or invoices.has_prev %}
  {{ render_pagination(invoices, 'index_page.paginate_index') }}
  {% endif %}
</div>
{% endblock %}