{% extends "base.html" %}
{% block body %}
<h1>Invoicer Login</h1>

<form class="w3-container w3-col m5" action="{{ url_for('login_page.login') }}" method="POST">
    {{ form.hidden_tag() }}
    <input type="hidden" value="{{ request.args.get('next', '') }}" name="next"/>

    <div class="input-group">
        <span class="input-group-addon w3-padding"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input class="w3-padding" type="text" name="username" placeholder="username">
    </div>
    <div class="input-group">
        <span class="input-group-addon w3-padding"><i class="fa fa-key fa-fw"></i></span>
        <input class="w3-padding" id="password" name="password" placeholder="password" type="password" value="">
        <span class="icon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
    </div>

    <p><input type=submit value="Login" class="w3-btn w3-theme-action"></p>
</form>
{% endblock %}

{% block extrascripts %}
<script>
$( document ).ready(function() {
    $('.icon').hover(function () {
        $('#password').attr('type', 'text');
    }, function () {
        $('#password').attr('type', 'password');
    });
});

</script>
{% endblock %}