{% extends "base.html" %}
{% block body %}
<h1>Invoicer Login</h1>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="w3-container w3-col m5" action="{{ url_for('login_page.login') }}" method="POST">
    <input type="hidden" value="{{ request.args.get('next', '') }}" name="next"/>

    <div class="input-group">
        <span class="input-group-addon w3-padding"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input class="w3-padding" type="text" name="username" placeholder="username">
    </div>
    <div class="input-group">
        <span class="input-group-addon w3-padding"><i class="fa fa-key fa-fw"></i></span>
        <input class="w3-padding" name="password" placeholder="password"
        {%- if config['DEBUG'] %}type="text" {% else %}type="password" {% endif -%}
        value="">
    </div>

    <p><input type=submit value="Login" class="w3-btn w3-theme-action"></p>
</form>
{% endblock %}