{% extends "layout.html" %}
{% block body %}
    <a href="{{url_for('new_address')}}" class="w3-btn w3-cyan">New Address</a>
  <ul class=entries>
  {% for address in addresses %}
    <li>{{ address.id }}: {{address.name1}}
        <ul>
            {% if address.name2 %}<li>{{address.name2}}</li>{% endif %}
            <li>{{address.addrline1}}</li>
            {% if address.addrline2 %}<li>{{address.addrline2}}</li>{% endif %}
            <li>{{address.city}}, {{address.state|upper}} {{address.zip}}</li>
            {% if address.email %}<li>{{address.email}}</li>{% endif %}
        </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}