<!doctype html>
<html lang="en">
<head>
    <title>Invoicer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-{{config['W3_THEME']}}.css">
    {% block extrahead %}{% endblock%}
</head>
<body>
    {% if session['logged_in'] %}
        {% if config['DEBUG'] -%}
            <div class="w3-bar w3-red w3-center">FLASK IS RUNNING IN DEBUG MODE</div>
        {% elif session['user_debug'] -%}
            <div class="w3-bar w3-orange w3-center">DEBUG MODE</div>
        {% endif -%}
        
        <div class="w3-bar w3-theme-dark">
            <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
            <a href="{{url_for('invoice_page.last_invoice')}}" class="w3-bar-item w3-button w3-mobile">Invoices</a>
            <a href="{{url_for('customers_page.index')}}" class="w3-bar-item w3-button w3-mobile">Customers</a>
            <a href="{{url_for('unit_page.units')}}" class="w3-bar-item w3-button w3-mobile">Billable Units</a>
            
            {% if not session.logged_in %}
            <a href="{{ url_for('login_page.login') }}" class="w3-bar-item w3-button w3-mobile w3-right">Log In</a>
            {% else %}
            <a href="{{ url_for('login_page.logout') }}" class="w3-bar-item w3-button w3-mobile w3-right">Log out</a>
            {% endif %}
            <a href="{{url_for('profile_page.index')}}" class="w3-bar-item w3-button w3-mobile w3-right">Profile</a>
            <a href="{{url_for('settings_page.index')}}"><i class="w3-bar-item fa fa-cogs w3-right" aria-hidden="true"></i></a>
        </div>
    {% endif %}
    <div class=w3-container>
        <p></p>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="w3-panel w3-display-container pointer {{category}}" onclick="this.style.display='none'">
            <span onclick="this.parentElement.style.display='none'"
            class="w3-button {{category}} w3-large w3-display-topright">&times;</span>
            <p>{{ message|safe }}</p>
        </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    {% block extrascripts %}{% endblock %}
</body>
</html>