<!doctype html>
<html lang="en">
<head>
    <title>Invoicer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-{{config['W3_THEME']}}.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css">
    {% block extrahead %}{% endblock%}
</head>
<body>
    {% if session['logged_in'] %}
        {% if config['DEBUG'] -%}
            <div class="w3-bar w3-red w3-center">FLASK IS RUNNING IN DEBUG MODE</div>
        {% elif session['user_debug'] -%}
            <a href="{{url_for('settings_page.index')}}"><div class="w3-bar w3-orange w3-center">DEBUG MODE</div></a>
        {% endif -%}
        
        <div class="w3-bar w3-theme-dark">
            <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-mobile{%if current_page=='home'%} w3-theme-l4{%endif%}" id="nav_home" data-hint='Show a table of all invoices'>Home</a>
            <a href="{{url_for('invoice_page.last_invoice')}}" id="nav_invoices" class="w3-bar-item w3-button w3-mobile{%if current_page=='invoices'%} w3-theme-l4{%endif%}" data-hint='Show detailed invoice'>Invoices</a>
            <a href="{{url_for('customers_page.index')}}" id="nav_customers" class="w3-bar-item w3-button w3-mobile{%if current_page=='customers'%} w3-theme-l4{%endif%}" data-hint='Add/edit your billable customers'>Customers</a>
            <a href="{{url_for('unit_page.index')}}" id="nav_units" class="w3-bar-item w3-button w3-mobile{%if current_page=='units'%} w3-theme-l4{%endif%}" data-hint='Add/edit things that you bill often'>Billable Units</a>
            
            <a href="{{url_for('login_page.logout')}}" class="w3-bar-item w3-button w3-mobile w3-right" title="Sign out"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            <a href="{{url_for('profile_page.index')}}" class="w3-bar-item w3-button w3-mobile w3-right" title="User Profile"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a href="{{url_for('settings_page.index')}}" class="w3-bar-item w3-button w3-mobile w3-right" title="Application Settings"><i class="fa fa-cogs" aria-hidden="true"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-mobile w3-right" title="Help" onclick="introJs().showHints();"><i class="fa fa-question" aria-hidden="true"></i></a>
        </div>
    {% endif %}
    <div class=w3-container>
        <p></p>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div
            {% if category == 'success' -%}
            class="w3-panel w3-display-container pointer {{category}} timeoutmessage"
            {% else -%}
            class="w3-panel w3-display-container pointer {{category}}"
            {%- endif -%}
            onclick="this.style.display='none'">
            <span onclick="this.parentElement.style.display='none'"
            class="w3-button {{category}} w3-large w3-display-topright">&times;</span>
            <p>{{ message|safe }}</p>
        </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function() {
                $('.timeoutmessage').fadeOut('slow');
            }, 3000); // <-- time in milliseconds
        });
    </script>
    {% block extrascripts %}{% endblock %}
</body>
</html>