{% extends "layout.html" %}
{% block body %}
<div class="w3-col m8">
  <table class="w3-table w3-striped w3-hoverable">
    <tr>
      <th>Invoice ID</th><th>Description</th><th class="w3-center">Submitted</th><th class="w3-center">Paid</th>
    </tr>
    {% for invoice in invoices -%}
    <tr onclick="window.location='{{url_for('invoice', invoice=invoice.id)}}';">
      <td>{{invoice.id}}</td>
      <td>{{invoice.description}}</td>
      <td class="w3-center">{{'X' if invoice.submitted_date else ' '}}</td>
      <td class="w3-center">{{'X' if invoice.paid_date else ' '}}</td>
    </tr>
    {% endfor%}
  </table>
</div>
{% endblock %}