{% extends "layout.html" %}
{% block body %}
  <table class="w3-table w3-striped w3-hoverable">
    <tr>
      <th>Invoice ID</th><th>Description</th><th>Submitted</th><th>Paid</th>
    </tr>
    {% for invoice in invoices -%}
    <tr onclick="window.location='{{url_for('invoice', invoice=invoice.id)}}';">
      <td>{{invoice.id}}</td>
      <td>{{invoice.description}}</td>
      <td>{{'X' if invoice.submitted_date else ' '}}</td>
      <td>{{'X' if invoice.paid_date else ' '}}</td>
    </tr>
    {% endfor%}
  </table>
{% endblock %}