{% extends "layout.html" %}
{% block body %}

<form method="GET">        
    <div class="w3-bar w3-cyan">
        {% if previous_id %}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice', invoice=previous_id)}}">Previous</button>
        {% else %}
        <button class="w3-bar-item w3-button" disabled>Previous</button>
        {% endif %}

        {% if next_id %}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('invoice', invoice=next_id)}}">Next</button>
        {% else %}
        <button class="w3-bar-item w3-button" disabled>Next</button>
        {% endif %}

        <button class="w3-bar-item w3-button" formaction="{{ url_for('update_invoice', invoice_id=invoice_id) }}">Edit</button>

        {% if (not invoice_obj.submitted_date) or config['DEBUG'] -%}
        <button class="w3-bar-item w3-button" formaction="{{ url_for('new_item', invoice_id=invoice_id) }}">Add Item</button>
        <button class="w3-bar-item w3-button" formaction="{{ url_for('delete_items', invoice_id=invoice_id) }}">Delete Items</button>
        {% else -%}
        <button class="w3-bar-item w3-button" formaction="#" disabled>Add Item</button>
        <button class="w3-bar-item w3-button" formaction="#" disabled>Delete Items</button>
        {% endif %}
    
        <button class="w3-bar-item w3-button" formaction="{{ url_for('to_pdf', invoice_id=invoice_id)}}" formtarget="_blank">Download PDF</button>
        <button class="w3-bar-item w3-button w3-right" formaction="{{url_for('new_invoice')}}">Add New Invoice</button>
        <button class="w3-bar-item w3-button w3-right w3-red" formaction="{{url_for('delete_invoice', invoice_id=invoice_id)}}">Delete Invoice</button>
    </div>
</form>

<div class="fluidMedia">
    <iframe src="{{url_for('raw_invoice', invoice_id=invoice_id)}}" frameborder="0"></iframe>
</div>
{% endblock %}