{% extends "layout.html" %}
{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#datepicker" ).datepicker({
    dateFormat: "dd-M-yy"
  });
} );
</script>
{% endblock%}

{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if form.errors %}
{% for error in form.errors.values() %}
      <li>{{ error }}</li>
{% endfor %}
{% endif %}
<form class="w3-container w3-col m5" action="{{url_for('new_item', invoice_id=invoice_id)}}" method="POST">
  <dl>
    {{ form.hidden_tag() }}
    {{ render_field(form.date) }}
    {{ render_field(form.description) }}
    {{ render_field(form.unit_price) }}
    {{ render_field(form.quantity) }}
  </dl>
  <p><input type=submit value="Add" class="w3-btn w3-cyan"></p>
</form>
{% endblock %}