<!doctype html>
<html>
<head>
<title>Invoicer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
{% block extrahead %}{% endblock%}
</head>
<body>
<div class="w3-bar w3-cyan">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="{{url_for('last_invoice')}}" class="w3-bar-item w3-button w3-mobile">Invoices</a>
    <a href="{{url_for('customers')}}" class="w3-bar-item w3-button w3-mobile">Customers</a>
    <a href="{{url_for('units')}}" class="w3-bar-item w3-button w3-mobile">Billable Units</a>

    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-mobile w3-right">Log In</a>
    {% else %}
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-mobile w3-right">Log out</a>
    {% endif %}
    <a href="{{url_for('update_profile')}}" class="w3-bar-item w3-button w3-mobile w3-right">Profile</a>
  </div>
<div class=w3-container>
  <h1>Invoicer</h1>
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="w3-panel w3-display-container {{category}}">
        <span onclick="this.parentElement.style.display='none'"
        class="w3-button {{category}} w3-large w3-display-topright">&times;</span>
        <p>{{ message }}</p>
    </div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>