<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice {{invoice_number}}{{' from ' + config.get('NAME', '') if config.get('NAME') else ''}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .total{font-weight:bold;}
        .right-text{text-align: right;}
    </style>
</head>

<body>
    <div class="w3-container">
        <div class="w3-row w3-padding">
            <h2 class="text-left">Invoice {{invoice_number}}<br>{{invoice_description}}</h2>
        </div>

        <div class="w3-row w3-padding-large">
            <div class="w3-col w3-half w3-right right-text">
                Submitted: {{submitted|upper}}<br>
                Due: {{due|upper}}<br>
                {% if paid -%}
                <span style="color: green;">PAID: {{paid|upper}}</span>
                {% else -%}
                <span style="color: red;">NOT PAID</span>
                {%endif%}
            </div>
        </div>

        <div class="w3-row w3-padding-24">
            &nbsp;
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col s4 w3-left">
                    <strong>BILL TO:</strong><br>
                    {{customer|safe}}
            </div>
            <div class="w3-col s4 w3-right right-text">
                    <strong>SUBMIT TO:</strong><br>
                    {{submit_address|safe}}
            </div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col">
            <table class="w3-table w3-striped w3-bordered">
                <tr class="w3-cyan">
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th style="text-align:center !important;">Quantity</th>
                    <th>Total</th>
                </tr>
                {% for item in items -%}
                <tr>
                    {% if item.date -%}
                    <td>{{item.date}}: {{item.description}}</td>
                    {% else %}
                    <td>{{item.description}}</td>
                    {% endif %}
                    <td>{{item.unit_price|currency}}/{{item.units}}</td>
                    <td style="text-align:center !important;">{{item.quantity}}</td>
                    <td>{{ (item.unit_price * item.quantity) | currency}}</td>
                </tr>{% endfor %}

                <tr class="total">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                           Total: {{total | currency}}
                        </td>
                    </tr>
            </table>
            </div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col">
            {% if terms %}<strong>Terms</strong>: {{terms}}<br>{% endif %}
            <strong>Please include invoice number on submission</strong>
            </div>
        </div>
    </div>
</body>
</html>