{% extends "base.html" %}
{% block body %}
{% if profile %}
<dl>
    <dd>{{profile.full_name}}</dd>
    <dd>{{profile.street}}</dd>
    <dd>{{profile.city}}, {{profile.state}} {{profile.zip}}</dd>
    <dd>{{profile.email}}</dd>
    <dd>&nbsp;</dd>
    <dd>Terms: NET {{profile.terms}} days</dd>
    <dd>&nbsp;</dd>
    <dd>Site Theme: {{profile.w3_theme}}</dd>
    <dd>Default Invoice Theme: {{profile.w3_theme_invoice or 'None'}}</dd>
    <dd>&nbsp;</dd>
    <dd>Starting customer number: {{profile.starting_customer_number}}</dd>
    <dd>Space in between customers: {{profile.customer_increment}}</dd>
    <dd>Number of invoices per page: {{profile.index_items_per_page}}</dd>
    <dd>&nbsp;</dd>
    <dd>Enable PDF: {{profile.enable_pdf}}</dd>
</dl>
<a href="{{url_for('profile_page.edit')}}" class="w3-btn w3-theme-action">Edit</a>
{% else %}
No profile yet<br>
<a href="{{url_for('profile_page.edit')}}" class="w3-btn w3-theme-action">Create</a>
{% endif %}


{% endblock %}