{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if form.errors %}
{% for error in form.errors.values() %}
      <li>{{ error }}</li>
{% endfor %}
{% endif %}

<form class="w3-container w3-col m5" action="{{url_for('profile_page.edit')}}" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.full_name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.street) }}
    {{ render_field(form.city) }}
    {{ render_field(form.state) }}
    {{ render_field(form.zip) }}
    {{ render_field(form.terms) }}
    {{ render_field(form.w3_theme) }}
    {{ render_field(form.w3_theme_invoice) }}
  <p>
        {% if profile -%}
        <input class="w3-btn w3-theme-action" type=submit value="Update">
        {% else -%}
        <input class="w3-btn w3-theme-action" type=submit value="Create">
        {% endif %}
  </p>
</form>
{% endblock %}