{% set current_page = 'profile' %}
{% set help_step = '6' %}
{% extends "base.html" %}

{% block extracss %}
<link href="{{ url_for('static', filename='css/switch.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import bs_render_field, bs_render_select, bs_render_checkbox, bs_render_checkbox_switch %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Profile</h4>
            </div>
            <div class="card-body">
                <form action="{{url_for('profile_page.edit')}}" method="POST" data-step='6' data-intro='Basic information about yourself.  This info will be shown on your invoices'>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        {{ bs_render_field(form.full_name) }}
                    </div>

                    <div class="row">
                        {{ bs_render_field(form.email) }}
                    </div>

                    <div class="row">
                        {{ bs_render_field(form.street) }}
                    </div>

                    <div class="row">
                        {{ bs_render_field(form.city, cols=9) }}
                        {{ bs_render_field(form.state, cols=1) }}
                        {{ bs_render_field(form.zip, cols=2) }}
                    </div>

                    <div class="row">
                        {{ bs_render_field(form.terms) }}
                        {{ bs_render_select(form.bs4_theme, bs4_theme_choices, selected=profile.bs4_theme.name) }}
                        {{ bs_render_select(form.invoice_theme, theme_choices, selected=profile.invoice_theme.name) }}
                    </div>

                    <div class="row">
                        {{ bs_render_field(form.starting_customer_number) }}
                        {{ bs_render_field(form.customer_increment) }}
                        {# bs_render_field(form.index_items_per_page) #}
                    </div>

                    <div class="row">
                        {{ bs_render_checkbox_switch(form.enable_pdf, profile.enable_pdf) }}
                    </div>

                    <input class="btn btn-info btn-fill" type=submit value="Update">
                    <input type=submit value="Cancel" name="cancel" class="btn btn-fill pull-right text-light">
                </form>
            </div> <!-- card-body -->
        </div> <!-- card -->
    </div>
</div>
{% endblock %}
